@page "/Meals"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared
@using System.Text.RegularExpressions

@attribute [Authorize]

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>Search for Foods to add:</h3>
            <div class="row">
                <div class="col-auto">
                    <input type="text" class="form-control" @bind-value="SearchExpression" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-light" @onclick="SearchForFood">Submit</button>
                </div>
            </div>
            
            @if (json is not null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Food Name:</th>
                            <th>Serving Size:</th>
                            <th>Calorie Count:</th>
                            <th width="1%">Count:</th>
                            <th>Choose Servings:</th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (int local_j = 0; local_j < SearchTable.GetLength(0)-1; local_j++)
                        {
                            int j = local_j;
                            var foodId = SearchTable[j, 0];
                            var foodName = SearchTable[j, 1];
                            var servingSize = SearchTable[j, 2];
                            var calorieCount = SearchTable[j, 3];
                            <tr>
                                <td>@SearchTable[j, 1]</td>
                                <td>@SearchTable[j, 2]</td>
                                <td>@SearchTable[j, 3]</td>
                                <td><input type="text" class="form-control" placeholder="1" @bind-value="SearchTable[j,5]" /></td>
                                <td>
                                    <div class="btn-group dropend">
                                        <button type="button" class="btn btn-primary btn-sm" @onclick="() => AddFoodToMeal(j)">Add</button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" @onclick="async () => await GetFood(foodId)">
                                            @* <span class="visually-hidden"></span>*@
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (getFood != null)
                                            {
                                                @foreach (var serving in getFood.Food.Servings.Serving)
                                                {
                                                    var serving_description = serving.Serving_Description ?? "";
                                                    <li>
                                                        <button class="dropdown-item" type="button" @onclick="() => UpdateFoodRow(j, serving)">
                                                            @{
                                                                SearchTable[j, 4] = PrettyServingSize(serving);
                                                            }
                                                            @SearchTable[j, 4]
                                                        </button>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-sm">
            <div>
                <h3>View Foods added to Meal:</h3>
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Meal Food Name:</th>
                            <th>Serving Size:</th>
                            <th>Calorie Count:</th>
                            <th width="1%">Count:</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            Console.WriteLine(MealTable.Count());
                        }
                        @for (int j = 0; j < MealTable.Count(); j++)
                        {
                            var foodId = MealTable.ElementAt(j)[0];
                            <tr>
                                <td>@MealTable.ElementAt(j)[1]</td>
                                <td>@MealTable.ElementAt(j)[2]</td>
                                <td>@MealTable.ElementAt(j)[3]</td>
                                <td>@MealTable.ElementAt(j)[5]</td>
                                <td><button class="btn btn-danger btn-sm" type="button" @onclick="() => RemoveFoodFromMeal(foodId)">Remove</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-auto">
                        <input type="text" class="form-control" @bind-value="MealName" />
                    </div>
                    <h4 class="col-auto" style="text-align:right">
                        Health Index: @healthIndex / 10.0
                    </h4>
                </div>
                <button class="btn btn-success" type="button" @onclick="() => CreateMeal(MealName)">Create Meal</button>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h3>View and Remove Meals:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Meal Name:</th>
                            <th>Total Calories:</th>
                            <th>Total Volume:</th>
                            <th>Health Index:</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var userMeal in UserMealTable)
                        {
                            <tr @onclick="() => Show(userMeal[0])" class="bg-@isHidden[userMeal[0]]">
                                <td>@userMeal[1]</td>
                                <td>@userMeal[2]kcal</td>
                                <td>@userMeal[3]g</td>
                                <td><button class="btn btn-danger btn-sm" type="button" @onclick="() => RemoveFoodFromUserMeals(userMeal[0],UserMealTable.IndexOf(userMeal))">Remove</button>
                                <button class="btn btn-warning btn-sm" type="button" @onclick="() => EditUserMeal(userMeal[0],UserMealTable.IndexOf(userMeal))">Edit</button></td>
                                <td></td>
                            </tr>
                            <tr hidden="@isHidden[userMeal[0]]">
                                <td colspan="3">
                                    <table class="table table-striped" border="1">
                                        <thead>
                                            <tr>
                                                <th style="width:60%">Food Name:</th>
                                                <th>Food Calories:</th>
                                                <th>Serving size:</th>
                                                <th>Count:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 4; i <= userMeal.Length -NUMDESC; i += NUMDESC)
                                            {
                                                <tr>
                                                    <td>@userMeal[i+1]</td>
                                                    <td>@userMeal[i+2]</td>
                                                    <td>@userMeal[i+3]</td>
                                                    <td>@userMeal[i+5]</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>