@page "/parent"
@page "/parent/{addchildstatus:bool?}/{deletechildstatus:bool?}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared

@attribute [Authorize] 
@*attribute [Authrize(Roles = "Parent")]*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<h3>Parent</h3>

<style>
    .sort-th {
        cursor: pointer;
    }

    .fa {
        float: right;
    }

    .btn-custom {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid #000;
        margin: 0px 5px 0px 5px;
    }

    .bg-True {
        color: black;
        background-color: none;
    }

    .bg-False {
        color: white;
        background-color: #078976;
    }

    .table {
        border: 1px solid;
        border-color: black;
    }

    caption {
        text-align: center;
        border: 1px solid;
        color:white;
        background-color: #073b4c;
    }

    .sort-th {
        cursor: pointer;
    }

    .fa {
        float: right;
    }

    .btn-custom {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid #000;
        margin: 0px 5px 0px 5px;
    }

</style>

@if (childUsernames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (AddChildStatus == false)
    {
        <div class="alert alert-danger" role="alert">Unable to add user! Please double check the username entered!</div>  
    }
    if (DeleteChildStatus == false)
    {
        <div class="alert alert-danger" role="alert">Unable to delete user! Please try again later!</div>
    }
    
    <table class="table table-bordered" style="width:20%">
        <caption style="caption-side:top">Child Account Overview</caption>
        <thead>
            <tr>
                <th colspan="2">
                    <input type="text" maxlength="25" style="width:75%" placeholder="Enter a username to add as child" @bind-value="newChildUserName" />
                    <button class="btn btn-success btn-sm" style="width:20%" @onclick="AddNewChild">Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (childUsernames.Count == 0)
            {
                <tr>
                    <td>
                        No Records to display
                    </td>
                </tr>
            } else
            {
                foreach(string name in childUsernames)
                {
                    <tr>
                        <td>@name</td>
                        <td style="text-align:center"><button class="btn btn-danger btn-sm" @onclick="() => DeleteChild(name)">Delete</button></td>
                    </tr>
                }
                <tr>
                    <td colspan="2" style="text-align:center">Total Children: @childUsernames.Count</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-bordered table-hover sortable" style="width:90%">

        <caption style="caption-side:top">Child Meal Overview </caption>
        <thead>
            <tr>
                <th>
                    <input type="text" maxlength="25" style="width:100%" placeholder="Enter a username..." @bind-value="searchUsername" @bind-value:event="oninput" />
                </th>
                <th>
                    <input type="text" maxlength="25" style="width:100%" placeholder="Enter a mealname..." @bind-value="searchMealName" @bind-value:event="oninput" />
                </th>
                <th>
                    <input type="range" style="width:100%" min="0" max="10" step="1" @bind-value="searchHealthIndex" @bind-value:event="oninput" list="steplist" />
                    <datalist id="steplist">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                </th>
            </tr>
            <tr>
                <th class="sort-th" @onclick='() => SortTable("ChildName")'>
                    Child Username
                    <span class="fa @(SetSortIcon("ChildName"))"></span>
                </th>
                <th class="sort-th" @onclick='() => SortTable("MealName")'>
                    Meal Name
                    <span class="fa @(SetSortIcon("MealName"))"></span>
                </th>
                <th class="sort-th" @onclick='() => SortTable("HealthIndex")'>
                    Health Index (0 - 10)
                    <span class="fa @(SetSortIcon("HealthIndex"))"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (childMealFoodList.Count == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            @foreach (var meal in FilteredChildMealFoodList)
            {
                <tr @onclick="() => Show(meal.MealId)" class="bg-@isHidden[meal.MealId]">
                    <td>@meal.ChildName</td>
                    <td>@meal.MealName</td>
                    <td>@meal.HealthIndex</td>
                </tr>
                <tr hidden="@isHidden[meal.MealId]">
                    <td colspan="3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:60%">Food Name</th>
                                    <th>Food Calories</th>
                                    <th>Food Serving</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var food in meal.Food)
                                {
                                    <tr>
                                        <td style="width:60%">@food.Food.FoodName</td>
                                        <td>@food.Food.Calories</td>
                                        <td>@food.Amount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
}    
