@page "/parent"
@page "/parent/{addchildstatus:bool}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared

@attribute [Authorize] 
@*attribute [Authrize(Roles = "Parent")]*@

<h3>Parent</h3>

<style>
    .sort-th {
        cursor: pointer;
    }

    .fa {
        float: right;
    }

    .btn-custom {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid #000;
        margin: 0px 5px 0px 5px;
    }

    .bg-True {
        color: black;
        background-color: none;
    }

    .bg-False {
        color: white;
        background-color: #078976;
    }

    .table {
        border: 1px solid;
        border-color: black;
    }

    caption {
        text-align: center;
        border: 1px solid;
        color:white;
        background-color: #073b4c;
    }

</style>

@if (childUsernames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (AddChildStatus == false)
    {
        <p>Unable to add user!</p>
    }
    
    <table class="table table-bordered" style="width:20%">
        <caption style="caption-side:top">Child Account Overview</caption>
        <thead>
            <tr>
                <th colspan="2">
                    <input type="text" maxlength="25" style="width:75%" placeholder="Enter a username to add as child" @bind-value="newChildUserName" />
                    <button class="btn btn-success btn-sm" style="width:20%" @onclick="AddNewChild">Add</button>
                </th>
            </tr>
@*            <tr>
                <th colspan="2" style="text-align:center">Username</th>
            </tr>*@
        </thead>
        <tbody>
            @if (childUsernames.Count == 0)
            {
                <tr>
                    <td>
                        No Records to display
                    </td>
                </tr>
            } else
            {
                foreach(string name in childUsernames)
                {
                    <tr>
                        <td>@name</td>
                        <td style="text-align:center"><button class="btn btn-danger btn-sm" @onclick="() => DeleteChild(name)">Delete</button></td>
                    </tr>
                }
                <tr>
                    <td colspan="2" style="text-align:center">Total Children: @childUsernames.Count</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-bordered table-hover" style="width:90%">
        <caption style="caption-side:top">Child Meal Overview</caption>
        <thead>
            <tr>
                <th>Child Username</th>
                <th>Meal Name</th>
                <th>Health Index</th>
            </tr>
        </thead>
        <tbody>
            @if (childMeals.Count == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            @foreach(string name in childUsernames)
            {
                {
                    foreach (var meal in childMeals)
                    {
                        if (meal.childUsername == name)
                        {
                            <tr @onclick="() => Show(meal.MealId)" class="bg-@isHidden[meal.MealId]">
                                <td>@meal.childUsername</td>
                                <td>@meal.Name</td>
                                <td>@meal.HealthIndex</td>
                            </tr>
                            <tr hidden="@isHidden[meal.MealId]">
                                <td colspan="3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Food Name</th>
                                                <th>Food Calories</th>
                                                <th>Food Serving</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var food in childMealFoods[meal.MealId])
                                            {
                                            <tr>
                                                <td>@food.Food.FoodName</td>
                                                <td>@food.Food.Calories</td>
                                                <td>@food.Amount</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
}



@code {
}    
