@page "/parent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared

@attribute [Authorize] 
@*attribute [Authrize(Roles = "Parent")]*@
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<h3>Parent</h3>

<style>
    .sort-th {
        cursor: pointer;
    }

    .fa {
        float: right;
    }

    .btn-custom {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid #000;
        margin: 0px 5px 0px 5px;
    }

    .bg-True {
        background-color: none;
    }

    .bg-False {
        background-color: peachpuff;
    }

</style>

@if (childUsernames == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Child Username</th>
                <th>Meal Name</th>
                <th>Health Index</th>
            </tr>
        </thead>
        <tbody>
            @if (childUsernames.Count == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            @foreach(string name in childUsernames)
            {
                {
                    foreach (var meal in childMeals)
                    {
                        if (meal.childUsername == name)
                        {
                            <tr @onclick="() => Show(meal.MealId)" class="bg-@isHidden[meal.MealId]">
                                <td>@meal.childUsername</td>
                                <td>@meal.Name</td>
                                <td>@meal.HealthIndex</td>
                            </tr>
                            <tr hidden="@isHidden[meal.MealId]">
                                <td colspan="3">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Food Name</th>
                                                <th>Food Calories</th>
                                                <th>Food Serving</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var food in childMealFoods[meal.MealId])
                                            {
                                            <tr>
                                                <td>@food.Food.FoodName</td>
                                                <td>@food.Food.Calories</td>
                                                <td>@food.Amount</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                }

            }
        </tbody>
    </table>
}



@code {
}    
