@page "/parent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared

@attribute [Authorize] 
@*attribute [Authrize(Roles = "Parent")]*@

<h3>Parent</h3>
<button @onclick="GetChildUsernames">Click</button>

@if(childUsernames != null)
{
    foreach(string name in childUsernames)
    {
        <p>@name</p><br />
        @if(childMeals != null)
        {
            foreach(var meal in childMeals)
            {
                if (meal.childUsername == name){
                    <p>@meal.MealId, @meal.Name, @meal.HealthIndex</p>
                    foreach (var food in childMealFoods[meal.MealId])
                    {
                        <p>@food.Food.FoodName, @food.Food.Calories, @food.Amount</p>
                    }
                }
            }
        }
    }
}


@code {
}    
